<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianglin.appserv.common.dal.daointerface.AppCommuseWordMapper" >
  <resultMap id="BaseResultMap" type="com.xianglin.appserv.common.dal.dataobject.AppCommuseWord" >
    <id column="SEQ_ID" property="seqId" jdbcType="BIGINT" />
    <result column="PARTYID" property="partyid" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="KEYWORD" property="keyword" jdbcType="VARCHAR" />
    <result column="USE_COUNT" property="useCount" jdbcType="BIGINT" />
    <result column="DATA_STATUS" property="dataStatus" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SEQ_ID, PARTYID, MENU_ID, KEYWORD, USE_COUNT, DATA_STATUS, CREATE_TIME, UPDATE_TIME, 
    COMMENTS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from app_commuse_word
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_commuse_word
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_commuse_word
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWordExample" >
    delete from app_commuse_word
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWord" >
    insert into app_commuse_word (SEQ_ID, PARTYID, MENU_ID, 
      KEYWORD, USE_COUNT, DATA_STATUS, 
      CREATE_TIME, UPDATE_TIME, COMMENTS
      )
    values (#{seqId,jdbcType=BIGINT}, #{partyid,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{useCount,jdbcType=BIGINT}, #{dataStatus,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWord" >
    insert into app_commuse_word
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        SEQ_ID,
      </if>
      <if test="partyid != null" >
        PARTYID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="keyword != null" >
        KEYWORD,
      </if>
      <if test="useCount != null" >
        USE_COUNT,
      </if>
      <if test="dataStatus != null" >
        DATA_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="partyid != null" >
        #{partyid,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="useCount != null" >
        #{useCount,jdbcType=BIGINT},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update app_commuse_word
    <set >
      <if test="record.seqId != null" >
        SEQ_ID = #{record.seqId,jdbcType=BIGINT},
      </if>
      <if test="record.partyid != null" >
        PARTYID = #{record.partyid,jdbcType=VARCHAR},
      </if>
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        KEYWORD = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.useCount != null" >
        USE_COUNT = #{record.useCount,jdbcType=BIGINT},
      </if>
      <if test="record.dataStatus != null" >
        DATA_STATUS = #{record.dataStatus,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comments != null" >
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update app_commuse_word
    set SEQ_ID = #{record.seqId,jdbcType=BIGINT},
      PARTYID = #{record.partyid,jdbcType=VARCHAR},
      MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      KEYWORD = #{record.keyword,jdbcType=VARCHAR},
      USE_COUNT = #{record.useCount,jdbcType=BIGINT},
      DATA_STATUS = #{record.dataStatus,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWord" >
    update app_commuse_word
    <set >
      <if test="partyid != null" >
        PARTYID = #{partyid,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        KEYWORD = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="useCount != null" >
        USE_COUNT = #{useCount,jdbcType=BIGINT},
      </if>
      <if test="dataStatus != null" >
        DATA_STATUS = #{dataStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xianglin.appserv.common.dal.dataobject.AppCommuseWord" >
    update app_commuse_word
    set PARTYID = #{partyid,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      KEYWORD = #{keyword,jdbcType=VARCHAR},
      USE_COUNT = #{useCount,jdbcType=BIGINT},
      DATA_STATUS = #{dataStatus,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where SEQ_ID = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>