<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianglin.appserv.common.dal.daointerface.AppUserCreditApplyDAO" >
  <resultMap id="BaseResultMap" type="com.xianglin.appserv.common.dal.dataobject.AppUserCreditApply" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PARTY_ID" property="partyId" jdbcType="BIGINT" />
    <result column="APPLY_USERNAME" property="applyUsername" jdbcType="VARCHAR" />
    <result column="APPLY_CARDNO" property="applyCardno" jdbcType="VARCHAR" />
    <result column="APPLY_MOBILE" property="applyMobile" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARTY_ID, APPLY_USERNAME, APPLY_CARDNO, APPLY_MOBILE, IS_DELETED, CREATE_TIME, 
    UPDATE_TIME, COMMENTS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_user_credit_apply
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_user_credit_apply
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xianglin.appserv.common.dal.dataobject.AppUserCreditApply" >
    insert into app_user_credit_apply (ID, PARTY_ID, APPLY_USERNAME, 
      APPLY_CARDNO, APPLY_MOBILE, IS_DELETED, 
      CREATE_TIME, UPDATE_TIME, COMMENTS
      )
    values (#{id,jdbcType=BIGINT}, #{partyId,jdbcType=BIGINT}, #{applyUsername,jdbcType=VARCHAR},
      #{applyCardno,jdbcType=VARCHAR}, #{applyMobile,jdbcType=VARCHAR}, 'N',
      NOW(), NOW(), #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xianglin.appserv.common.dal.dataobject.AppUserCreditApply" >
    update app_user_credit_apply
    <set >
      <if test="partyId != null" >
        PARTY_ID = #{partyId,jdbcType=BIGINT},
      </if>
      <if test="applyUsername != null" >
        APPLY_USERNAME = #{applyUsername,jdbcType=VARCHAR},
      </if>
      <if test="applyCardno != null" >
        APPLY_CARDNO = #{applyCardno,jdbcType=VARCHAR},
      </if>
      <if test="applyMobile != null" >
        APPLY_MOBILE = #{applyMobile,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>