<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianglin.appserv.common.dal.daointerface.PermanetCalendarDAO">
	<resultMap id="BaseResultMap" type="com.xianglin.appserv.common.dal.dataobject.PermanetCalendar">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="yearMonth" property="yearmonth" jdbcType="VARCHAR" />
		<result column="dayCount" property="daycount" jdbcType="VARCHAR" />
		<result column="festivalInfo" property="festivalinfo" jdbcType="VARCHAR" />
		<result column="lumarInfo1" property="lumarinfo1" jdbcType="VARCHAR" />
		<result column="lumarInfo2" property="lumarinfo2" jdbcType="VARCHAR" />
		<result column="dayViewYiDescContent" property="dayviewyidesccontent" jdbcType="VARCHAR" />
		<result column="dayViewJiDescContent" property="dayviewjidesccontent" jdbcType="VARCHAR" />
		<result column="pzbj" property="pzbj" jdbcType="VARCHAR" />
		<result column="jsyq" property="jsyq" jdbcType="VARCHAR" />
		<result column="xsyj" property="xsyj" jdbcType="VARCHAR" />
		<result column="cs" property="cs" jdbcType="VARCHAR" />
		<result column="wx" property="wx" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="comments" property="comment" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, yearMonth, dayCount, festivalInfo, lumarInfo1, lumarInfo2, dayViewYiDescContent,
		dayViewJiDescContent, pzbj, jsyq, xsyj, cs, wx, create_date, comments
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element 
			was generated on Thu Sep 29 10:55:41 CST 2016. -->
		select
		<include refid="Base_Column_List" />
		from app_permanet_calendar
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from permanet_calendar
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.xianglin.appserv.common.dal.dataobject.PermanetCalendar">
		insert into app_permanet_calendar (id, yearMonth, dayCount,
		festivalInfo, lumarInfo1, lumarInfo2,
		dayViewYiDescContent, dayViewJiDescContent,
		pzbj, jsyq, xsyj, cs,
		wx, create_date, comments
		)
		values (#{id,jdbcType=BIGINT}, #{yearmonth,jdbcType=VARCHAR}, #{daycount,jdbcType=VARCHAR},
		#{festivalinfo,jdbcType=VARCHAR}, #{lumarinfo1,jdbcType=VARCHAR}, #{lumarinfo2,jdbcType=VARCHAR},
		#{dayviewyidesccontent,jdbcType=VARCHAR}, #{dayviewjidesccontent,jdbcType=VARCHAR},
		#{pzbj,jdbcType=VARCHAR}, #{jsyq,jdbcType=VARCHAR}, #{xsyj,jdbcType=VARCHAR}, #{cs,jdbcType=VARCHAR},
		#{wx,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xianglin.appserv.common.dal.dataobject.PermanetCalendar">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element 
			was generated on Thu Sep 29 10:55:41 CST 2016. -->
		insert into app_permanet_calendar
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="yearmonth != null">
				yearMonth,
			</if>
			<if test="daycount != null">
				dayCount,
			</if>
			<if test="festivalinfo != null">
				festivalInfo,
			</if>
			<if test="lumarinfo1 != null">
				lumarInfo1,
			</if>
			<if test="lumarinfo2 != null">
				lumarInfo2,
			</if>
			<if test="dayviewyidesccontent != null">
				dayViewYiDescContent,
			</if>
			<if test="dayviewjidesccontent != null">
				dayViewJiDescContent,
			</if>
			<if test="pzbj != null">
				pzbj,
			</if>
			<if test="jsyq != null">
				jsyq,
			</if>
			<if test="xsyj != null">
				xsyj,
			</if>
			<if test="cs != null">
				cs,
			</if>
			<if test="wx != null">
				wx,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="comment != null">
				comments,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="yearmonth != null">
				#{yearmonth,jdbcType=VARCHAR},
			</if>
			<if test="daycount != null">
				#{daycount,jdbcType=VARCHAR},
			</if>
			<if test="festivalinfo != null">
				#{festivalinfo,jdbcType=VARCHAR},
			</if>
			<if test="lumarinfo1 != null">
				#{lumarinfo1,jdbcType=VARCHAR},
			</if>
			<if test="lumarinfo2 != null">
				#{lumarinfo2,jdbcType=VARCHAR},
			</if>
			<if test="dayviewyidesccontent != null">
				#{dayviewyidesccontent,jdbcType=VARCHAR},
			</if>
			<if test="dayviewjidesccontent != null">
				#{dayviewjidesccontent,jdbcType=VARCHAR},
			</if>
			<if test="pzbj != null">
				#{pzbj,jdbcType=VARCHAR},
			</if>
			<if test="jsyq != null">
				#{jsyq,jdbcType=VARCHAR},
			</if>
			<if test="xsyj != null">
				#{xsyj,jdbcType=VARCHAR},
			</if>
			<if test="cs != null">
				#{cs,jdbcType=VARCHAR},
			</if>
			<if test="wx != null">
				#{wx,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xianglin.appserv.common.dal.dataobject.PermanetCalendar">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element 
			was generated on Thu Sep 29 10:55:41 CST 2016. -->
		update app_permanet_calendar
		<set>
			<if test="yearmonth != null">
				yearMonth = #{yearmonth,jdbcType=VARCHAR},
			</if>
			<if test="daycount != null">
				dayCount = #{daycount,jdbcType=VARCHAR},
			</if>
			<if test="festivalinfo != null">
				festivalInfo = #{festivalinfo,jdbcType=VARCHAR},
			</if>
			<if test="lumarinfo1 != null">
				lumarInfo1 = #{lumarinfo1,jdbcType=VARCHAR},
			</if>
			<if test="lumarinfo2 != null">
				lumarInfo2 = #{lumarinfo2,jdbcType=VARCHAR},
			</if>
			<if test="dayviewyidesccontent != null">
				dayViewYiDescContent = #{dayviewyidesccontent,jdbcType=VARCHAR},
			</if>
			<if test="dayviewjidesccontent != null">
				dayViewJiDescContent = #{dayviewjidesccontent,jdbcType=VARCHAR},
			</if>
			<if test="pzbj != null">
				pzbj = #{pzbj,jdbcType=VARCHAR},
			</if>
			<if test="jsyq != null">
				jsyq = #{jsyq,jdbcType=VARCHAR},
			</if>
			<if test="xsyj != null">
				xsyj = #{xsyj,jdbcType=VARCHAR},
			</if>
			<if test="cs != null">
				cs = #{cs,jdbcType=VARCHAR},
			</if>
			<if test="wx != null">
				wx = #{wx,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="comments != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xianglin.appserv.common.dal.dataobject.PermanetCalendar">
		update app_permanet_calendar
		set yearMonth = #{yearmonth,jdbcType=VARCHAR},
		dayCount = #{daycount,jdbcType=VARCHAR},
		festivalInfo = #{festivalinfo,jdbcType=VARCHAR},
		lumarInfo1 = #{lumarinfo1,jdbcType=VARCHAR},
		lumarInfo2 = #{lumarinfo2,jdbcType=VARCHAR},
		dayViewYiDescContent = #{dayviewyidesccontent,jdbcType=VARCHAR},
		dayViewJiDescContent = #{dayviewjidesccontent,jdbcType=VARCHAR},
		pzbj = #{pzbj,jdbcType=VARCHAR},
		jsyq = #{jsyq,jdbcType=VARCHAR},
		xsyj = #{xsyj,jdbcType=VARCHAR},
		cs = #{cs,jdbcType=VARCHAR},
		wx = #{wx,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		comments = #{comment,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getPermanetCalendarList" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List">
		</include>
		from app_permanet_calendar

		<where>
			<if test="yearMonth != null">
				yearMonth = #{yearMonth,jdbcType=VARCHAR}
			</if>
			<if test="dayCount != null">
				and	dayCount = #{dayCount,jdbcType=VARCHAR}
			</if>
			<if test="festivalinfo != null">
				and festivalInfo = #{festivalinfo,jdbcType=VARCHAR}
			</if>
			<if test="lumarinfo1 != null">
				and lumarInfo1 = #{lumarinfo1,jdbcType=VARCHAR}
			</if>
			<if test="lumarinfo2 != null">
				and lumarInfo2 = #{lumarinfo2,jdbcType=VARCHAR}
			</if>
			<if test="dayviewyidesccontent != null">
				and dayViewYiDescContent = #{dayviewyidesccontent,jdbcType=VARCHAR}
			</if>
			<if test="dayviewjidesccontent != null">
				and dayViewJiDescContent = #{dayviewjidesccontent,jdbcType=VARCHAR}
			</if>
			<if test="pzbj != null">
				and pzbj = #{pzbj,jdbcType=VARCHAR}
			</if>
			<if test="jsyq != null">
				and jsyq = #{jsyq,jdbcType=VARCHAR}
			</if>
			<if test="xsyj != null">
				and xsyj = #{xsyj,jdbcType=VARCHAR}
			</if>
			<if test="cs != null">
				and cs = #{cs,jdbcType=VARCHAR}
			</if>
			<if test="wx != null">
				and wx = #{wx,jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate,jdbcType=TIMESTAMP}
			</if>
			<if test="comment != null">
				and comments = #{comment,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>